// =======================
// VARIABLES
// =======================
$blanco: #fff;
$beige: #fff4dd;
$electric: #2cb1bb;
$footer:#888;

$grisOscuro: #2d2d2d;
$grisMedio: #545e5e;
$grisClaro: #f7f9fa;

$fuentePrincipal: "Montserrat", sans-serif;
$fuenteSecundaria: "Libertinus Mono", monospace;

$espacio-sm: 0.5rem;
$espacio-md: 1rem;
$espacio-lg: 2rem;



